


@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">About Us</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item active"><a href="#">Page 2</a></li>
        </ol>
    </nav>
}

<h1>
    About Book Store
</h1>
<p>
    this page show info about book store
</p>